    <!-- Feature Section -->
    <section id="feature" class="text-center">
        <div class="container feature-section">
            <div class="feature-blocks">
                <a href="/scenario/#demo-1">
                <div class="feature-block" style="border-bottom: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2;">
                    <div class="top-block left-block">
                        <img src="{{ site.data.demos[0].icon }}" />
                        <h2>{{ site.data.demos[0].title }}</h2>
                        <p>{{ site.data.demos[0].desc }}</p>
                    </div>
                </div>
                </a>
                <a href="/scenario/#demo-2">
                <div class="feature-block" style="border-bottom: 1px solid #d2d2d2;">
                    <div class="top-block right-block" >
                        <img src="{{ site.data.demos[1].icon }}" />
                        <h2>{{ site.data.demos[1].title }}</h2>
                        <p>{{ site.data.demos[1].desc }}</p>
                    </div>
                </div>
                </a>
                <a href="/scenario/#demo-3">
                <div class="feature-block" style="border-right: 1px solid #d2d2d2;">
                    <div class="bottom-block left-block">
                        <img src="{{ site.data.demos[2].icon }}" />
                        <h2>{{ site.data.demos[2].title }}</h2>
                        <p>{{ site.data.demos[2].desc }}</p>
                    </div>
                </div>
                </a>
                <a href="/scenario/#demo-4">
                <div class="feature-block">
                    <div class="bottom-block right-block">
                        <img src="{{ site.data.demos[3].icon }}" />
                        <h2>{{ site.data.demos[3].title }}</h2>
                        <p>{{ site.data.demos[3].desc }}</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </section>