<section id="feature-panel">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div class="intro-board">
                    <div class="board-title">
                        <h3><span class="underline-title">技术特点</span></h3>
                        <p> 极简接口，两小时极速接入 </p>
                    </div>
                    <div class="feature-item col-md-3 col-sm-6">
                        <img src="/img/feature-icon-01.png">
                        <div>
                            <p>生成DeepShare LINK并将绑定自定义参数</p>
                        </div>
                    </div>
                    <div class="feature-item col-md-3 col-sm-6">
                        <img src="/img/feature-icon-02.png">
                        <div>
                            <p>通过点击DeepShare LINK下载或打开APP</p>
                        </div>
                    </div>
                    <div class="feature-item col-md-3 col-sm-6">
                        <img src="/img/feature-icon-03.png">
                        <div>
                            <p>打开APP时获取所绑定的自定义参数</p>
                        </div>
                    </div>
                    <div class="feature-item col-md-3 col-sm-6">
                        <img src="/img/feature-icon-04.png">
                        <div>
                            <p>APP根据自定义参数进行场景恢复</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
