<section id="growth-panel">
    <div class="panel-bg">
        <div class="container text-center intro-section max-width">
            <div class="row">
                <div class="intro-board">
                    <div class="board-title">
                        <h3><span class="underline-title">数据表现</span></h3>
                        <p> 全面提升APP各项统计数据 </p>
                    </div>
                    <div class="left-panel">
                        <div id="block-1" class="animate animation-block block-1"></div>
                        <div id="block-2" class="animate animation-block block-2"></div>
                        <div id="block-3" class="animate animation-block block-3"></div>
                        <div id="block-4" class="animate animation-block block-4"></div>
                        <div id="block-5" class="animate animation-block block-5"></div>
                        <div id="block-6" class="animate animation-block block-6"></div>
                        <img src="/img/growth-left-panel.png">
                    </div>
                    <div class="right-panel">
                        <div class="item-block">
                            <div class="icon-block">
                                <img src="/img/growth-download.png">
                                <p>下载-激活转化率</p>
                            </div>
                            <span class="word-plus">+</span>
                            <span id="download-num" class="word-num">0</span>
                            <span class="word-percent">%</span>
                        </div>
                        <div class="item-block">
                            <div class="icon-block">
                                <img src="/img/growth-stay-1d.png">
                                <p>次日留存</p>
                            </div>
                            <span class="word-plus">+</span>
                            <span id="stay-num" class="word-num">0</span>
                            <span class="word-percent">%</span>
                        </div>
                        <div class="item-block">
                            <div class="icon-block">
                                <img src="/img/growth-stay-7d.png">
                                <p>七日留存</p>
                            </div>
                            <span class="word-plus">+</span>
                            <span id="stay-num-7d" class="word-num">0</span>
                            <span class="word-percent">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
