<section id="index-panel">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div id="index-text" class="intro-board"> 
                    <p class="index-title">一款延迟深度链接的SDK</p>
                    <p class="index-sub-title">帮助开发者打破WEB和APP之间的信息壁垒，实现APP的内容直达及监测</p>
                </div>
                <div class="intro-board"> 
                    <img src="/img/index.png">
                    <div class="share-cell" id="share-left"></div>
                    <div class="share-cell" id="share-right"></div>
                    <img id="transfer-btn" src="/img/transfer-btn.png">
                    <a id="demo-show-btn"
                       data-html="true"
                       data-toggle="popover"
                       data-trigger="hover"
                       data-placement="top"
                       data-original-title="扫描二维码体验DEMO"
                       data-content="<img style='margin:0;width:100%;height:100%' src='/img/demo-qrcode-tlc.png'>"
                       href="javascript:;"><span class="show-demo-btn login-button ebo-blue-button">体验DEMO</span></a>
                </div>
            </div>
        </div>
    </div>
    <img id="share-left-img-loader" src="/img/share-left-kq.png" style="display:none;">
</section>
