    <!-- Intro Section -->
    <section id="product-intro">
        <div class="intro-bg">
            <div class="container text-center intro-section">
                <div class="row">
                    <div class="intro-board">
                        <h2><span class="underline-title">产品介绍</span></h2>
                        <img src="/img/product-intro-bg.png" />
                        <p>分享、导流和跳转，无论是用户的体验，还是开发者的开发流程，从未如此简单。<br>下载、激活、留存，每一步的转化率都得到显着提升。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>