<section id="customer-panel" class="">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div class="intro-board">
                    <div class="board-title">
                        <h3><span class="underline-title">我们的客户</span></h3>
                        <p>期待你的加入</p>
                    </div>
                    <div class="board-body">
                        <img src="/img/customers.png">
                        <a target="_blank" class="start-use" href="https://dashboard.deepshare.io/">
                            <img src="/img/start-use.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branch-panel" class="">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div class="intro-board">
                    <img id="branch-background" src="/img/cooperate-branch.png">
                    <a href="https://branch.io" target="_blank">
                        <img id="branch-icon" src="/img/branch-icon.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-left"></div>
    <div class="bg-right"></div>
</section>
<section id="partner-intro">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
        <div class="intro-board">
            <h3 class="board-title "><span class="underline-title">合作伙伴</span></h3>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/zhenfund.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/team.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/juejin.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/linque.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/techcode.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://36kr.com/p/5043872.html"><img src="/img/partner-logo/36kr.png"> </a></div>

<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.lieyunwang.com/archives/149723"><img src="/img/partner-logo/lieyun.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/tech.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.csdn.net/article/2015-12-08/2826417-jinjiang-deepshare"><img src="/img/partner-logo/csdn.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/weimao.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.pencilnews.cn/?p=1452"><img src="/img/partner-logo/qianbi.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.huodongxing.com/event/9316312149000"><img src="/img/partner-logo/huodongxing.png"> </a></div>

<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/pingxx.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/ucloud.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/red.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/100offer.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/qidiancaptal.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.xtecher.com/Website/Article/view?aid=755"><img src="/img/partner-logo/xtecher.png"> </a></div>

<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.lagou.com/gongsi/73653.html"><img src="/img/partner-logo/lagou.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.itjuzi.com/company/29989"><img src="/img/partner-logo/itorange.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.oschina.net"><img src="/img/partner-logo/oschina.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.mvac.cn/zh-CN/Enterprise/Index6"><img src="/img/partner-logo/ms.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="https://segmentfault.com/o/www_deepshare_io"><img src="/img/partner-logo/seg.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/3wspace.png"> </a></div>

<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/technode.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="http://www.bosszhipin.com/home?sid=sem_bm_spe_pinzhuan&pkn=pinpai"><img src="/img/partner-logo/bosshr.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/tmt_logo.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/maimai.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/3whr.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item"> <a href="javascript:;"><img src="/img/partner-logo/wenwen.png"> </a></div>
<div class="col-md-2 col-sm-3 col-xs-6 partner-item active"> <a href="https://zhugeio.com/"><img src="/img/partner-logo/zhugeio.png"> </a></div>
        </div>
            </div>
        </div>
    </div>
</section>
<section id="number-panel">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div class="intro-board">
                    <p class="append-title">基于DeepShare技术的链接已经有</p>
                    <p id="ds-total-pv" class="real-time-number">000,000,000</p>
                    <p class="append-title">条在传播</p>
                </div>
            </div>
        </div>
    </div>
</section>
