<section id="video-intro">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div class="intro-board video-text">
                    <h2><span>DeepShare, 为APP用户, 更为APP开发者</span></h2>
                    <!-- <p>观看演示视频</p> -->
                </div>
            </div>
        </div>
        <a class="video-play"
            href="https://deepshare.blob.core.chinacloudapi.cn/video/growth-hacker.mp4"
            data-options="width: 848, height: 480, html5video: {poster: '/img/video-preview-poster.png', autoplay: true}">
          <img src="/img/play-btn-white.png" id="video-button"/>
        </a>
    </div>
</section>

<section id="deeplink-intro">
    <div class="panel-bg">
        <div class="container text-center intro-section">
            <div class="row">
                <div class="intro-board">
                    <img src="/img/deeplink-intro.png">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="feature-title">一下跳转</div>
                        <div class="feature-desc">一站式解决网页跳转APP问题</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="feature-title">深度分享</div>
                        <div class="feature-desc">更顺畅的用户体验</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="feature-title">渠道分析</div>
                        <div class="feature-desc">更全面的数据监测</div>
                    </div>
                    <div class="btn-container col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="/redirect-once"><span class="ds-normal-btn ebo-blue-button">了解更多</span></a>
                    </div>
                    <div class="btn-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="/deeplink"><span class="ds-normal-btn ebo-blue-button">了解更多</span></a>
                    </div>
                    <div class="btn-container col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="/marketing"><span class="ds-normal-btn ebo-blue-button">了解更多</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

